### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
#Caluculate the total number of schools
total_school = school_data_complete["school_name"].nunique()
total_school
#Calculate the total number of students
total_stu = school_data_complete["Student ID"].nunique()

#totalbudget
total_budget = school_data_complete.drop_duplicates("school_name")["budget"].sum()

#Average math score and passing rate
avg_math = school_data_complete["math_score"].mean()
math_pass = school_data_complete[school_data_complete["math_score"]>=70]["Student ID"].count()/total_stu

#Average reading score and passing rate
avg_reading = school_data_complete["reading_score"].mean()
reading_pass = school_data_complete.loc[school_data_complete["reading_score"]>=70,:]["Student ID"].count()/total_stu

#Overall average score
avg_overall = (avg_math+avg_reading)/2

#Constuct a new data frame of district summary
district_summary = pd.DataFrame({"Total Schools":[total_school],
                                "Total Students":[total_stu],
                                "Total Budget":[total_budget],
                                "Average Math Score":[avg_math],
                                "Average Reading Score":[avg_reading],
                                "% Passing Math":[math_pass*100],
                                "% Passing Reading":[reading_pass*100],
                                "% Overall Passing Rate":[avg_overall]})

#Formatting
district_summary = district_summary.style.format({"Total Students":"{:,}",
                              "Total Budget":"${:,}"})
district_summary

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
#Group the data frame by school name
school = school_data_complete.groupby("school_name")

#School Type
school_type = school["type"].unique()
#Total Students
school_students = school["Student ID"].nunique()
#Total School Budget
school_budget = school["budget"].unique()
#Budget per student
school_budget_per_student = school_budget/school_students
#Average math score
school_avg_math = school["math_score"].mean()
#Average reading score
school_avg_reading = school["reading_score"].mean()
#Percentage of passing math
school_math_pass = school.apply(lambda x:x[x["math_score"]>=70]["Student ID"].count())/school_students
#Percentage of passing reading
school_reading_pass = school.apply(lambda x:x[x["reading_score"]>=70]["Student ID"].count())/school_students
#Overall Passing rate
school_avg = (school_math_pass+school_reading_pass)/2

#Construct a data frame
school_summary = pd.DataFrame({"School Type":school_type,
                              "Total Students":school_students,
                              "Total School Budget":school_budget,
                              "Per Student Budget":school_budget_per_student,
                              "Average Math Score":school_avg_math,
                              "Average Reading Score":school_avg_reading,
                              "% Passing Math":school_math_pass*100,
                              "% Passing Reading":school_reading_pass*100,
                              "% Overall Passing Rate":school_avg*100})

#Formatting
school_summary["Total School Budget"]=school_summary["Total School Budget"].astype(float)
school_summary["Total School Budget"]=school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"]=school_summary["Per Student Budget"].astype(float)
school_summary["Per Student Budget"]=school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary["School Type"]=school_summary["School Type"].str.get(0)
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
top_five = school_summary.sort_values("% Overall Passing Rate", ascending = False)
top_five.head()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
bottom_five = school_summary.sort_values("% Overall Passing Rate", ascending = True)
bottom_five.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#Average math score for grade 9 students in each school
grade_9 = school_data_complete[school_data_complete["grade"]=="9th"]
grade_9_math = grade_9.groupby("school_name")["math_score"].mean()

##Average math score for grade 10 students in each school
grade_10 = school_data_complete.loc[school_data_complete["grade"]=="10th",:]
grade_10_math = grade_10.groupby("school_name")["math_score"].mean()

##Average math score for grade 11 students in each school
grade_11 = school_data_complete[school_data_complete["grade"]=="11th"]
grade_11_math = grade_11.groupby("school_name")["math_score"].mean()

##Average math score for grade 12 students in each school
grade_12 = school_data_complete[school_data_complete["grade"]=="12th"]
grade_12_math = grade_12.groupby("school_name")["math_score"].mean()

#Construct a new data frame
math_grade = pd.DataFrame({"9th":grade_9_math,
                         "10th":grade_10_math,
                         "11th":grade_11_math,
                         "12th":grade_12_math})
math_grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
grade_9_reading = grade_9.groupby("school_name")["reading_score"].mean()
grade_10_reading = grade_10.groupby("school_name")["reading_score"].mean()
grade_11_reading = grade_11.groupby("school_name")["reading_score"].mean()
grade_12_reading = grade_12.groupby("school_name")["reading_score"].mean()

reading_grade = pd.DataFrame({"9th":grade_9_reading,
                         "10th":grade_10_reading,
                         "11th":grade_11_reading,
                         "12th":grade_12_reading})
reading_grade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [5]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [6]:
#Add bins to the data frame
school_spending = school_summary.copy()
school_spending["Per Student Budget"]=school_spending["Per Student Budget"].str.strip("$").astype(float)
budget_bins = pd.cut(school_spending["Per Student Budget"], spending_bins, labels = group_names)
school_spending["Spending Ranges (Per Student)"]=budget_bins
school_spending = school_spending.groupby("Spending Ranges (Per Student)")

#Calculate average math score
avg_math_budget = school_spending["Average Math Score"].mean()

#Caculate average reading score
avg_reading_budget = school_spending["Average Reading Score"].mean()

#Calculate math passing rate
math_budget_percent = school_spending["% Passing Math"].mean()

#Calculate reading passing rate 
reading_budget_percent = school_spending["% Passing Reading"].mean()

#Calculate overall passing rate 
overall_budget_percent = school_spending["% Overall Passing Rate"].mean()

#Construct a new data frame
scores_school_spending = pd.DataFrame({"Average Math Score":avg_math_budget,
                                      "Average Reading Score":avg_reading_budget,
                                      "% Passing Math":math_budget_percent,
                                      "% Passing Reading":reading_budget_percent,
                                      "% Overall Passing Rate":overall_budget_percent})
scores_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [8]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [29]:
#Add in the column of size to a copy of the "school_summary" data frame
size = school["size"].unique()
school_size = school_summary.copy()
school_size["size"] = size
school_size["size"] = school_size["size"].astype(float)

#Add in the bins as a new column
school_size_bins = pd.cut(school_size["size"], size_bins, labels = group_names)
school_size["School Size"] = school_size_bins

#Group the data fram by "School Size"
school_size = school_size.groupby("School Size")

#Calculate average math score
avg_math_size = school_size["Average Math Score"].mean()

#Caculate average reading score
avg_reading_size = school_size["Average Reading Score"].mean()

#Calculate math passing rate
math_size_percent = school_size["% Passing Math"].mean()

#Calculate reading passing rate 
reading_size_percent = school_size["% Passing Reading"].mean()

#Calculate overall passing rate 
overall_size_percent = school_size["% Overall Passing Rate"].mean()

#Construct a new data frame
scores_school_size = pd.DataFrame({"Average Math Score":avg_math_size,
                                      "Average Reading Score":avg_reading_size,
                                      "% Passing Math":math_size_percent,
                                      "% Passing Reading":reading_size_percent,
                                      "% Overall Passing Rate":overall_size_percent})
scores_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [30]:
#Group the data fram by "School Type"
school_type = school_summary.copy()
school_type = school_type.groupby("School Type")

#Calculate average math score
avg_math_type = school_type["Average Math Score"].mean()

#Caculate average reading score
avg_reading_type = school_type["Average Reading Score"].mean()

#Calculate math passing rate
math_type_percent = school_type["% Passing Math"].mean()

#Calculate reading passing rate 
reading_type_percent = school_type["% Passing Reading"].mean()

#Calculate overall passing rate 
overall_type_percent = school_type["% Overall Passing Rate"].mean()

#Construct a new data frame
scores_school_type = pd.DataFrame({"Average Math Score":avg_math_type,
                                      "Average Reading Score":avg_reading_type,
                                      "% Passing Math":math_type_percent,
                                      "% Passing Reading":reading_type_percent,
                                      "% Overall Passing Rate":overall_type_percent})
scores_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757